/* 
* @Author: CSB307
* @Date:   2016-05-24 09:00:15
* @Last Modified by:   CSB307
* @Last Modified time: 2016-05-24 12:50:56
*/
.mouth{
    background-color: #FBFBFB;
}
.day{
    color: pink;
    

}
.me{
    color: #32CD32;
}
.hoday{
    color: red;

}
.normal{
    color:  #1E90FF;
}